<!-- Career Path Section -->
<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Career Path</h2>
                <h3 class="section-subheading text-muted">Javascript Developer, Networking Technician</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <h4>Projects
                                <br>Highlights</h4>
                            </div>
                        </li>
                        <!-- Projects -->
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>April 2023 - May 2023</h4>
                                <h4 class="subheading">API Food - Single Page Application (SPA)</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Developed an SPA that communicates with an API containing over 22,000 recipes. The application allows users to view recipe images and step-by-step preparations. It also provides features for creating new recipes and navigating through them by applying filters and sorting.</p>
                                <p class="text-muted">Technologies: Express, NodeJs, Postgres, Reactjs, Redux</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>June 2023 - July 2023</h4>
                                <h4 class="subheading">Art Trade Website</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Created a platform for buying and selling physical and digital artwork. The website currently supports traditional payment methods, and the implementation of web3 and crypto wallets is in progress.</p>
                                <p class="text-muted">Technologies: Postgres, DBeaver, Firebase, Cloudinary, JWT, Nodemailer, Bootstrap, JSpdf, Railway, Vercel, insomnia, gather.town, JIRA, VIte React.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Start date July 2023</h4>
                                <h4 class="subheading">Mobile App for Relaxation</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Currently in development, this mobile application aims to provide relaxation to users during waiting periods through ASMR sounds. The app features a calming graphical interface that helps pass the time quickly and enjoyably.</p>
                                <p class="text-muted">Technologies: React Native, Mongodb, AWS Deployment, Csharp backend.</p>
                            </div>
                        </div>
                    </li>
                                <!-- Education -->
            <li>
                <div class="timeline-image">
                    <h4>Education
                        <br>Highlights</h4>
                </div>
            </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>December 2022 - July 2023</h4>
                                <h4 class="subheading">Full Stack Developer at Henry</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">800-hour bootcamp focused on Full Stack development.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2009 - 2014</h4>
                                <h4 class="subheading">Psychology and Biology - Universidad Nacional de Colombia</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Bachelor's Degree in Psychology and Biology (incomplete).</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>January 2005 - November 2008</h4>
                                <h4 class="subheading">Systems Analysis and Programming - IE Alexander Von Humboldt</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Technical Degree in Systems Analysis and Programming.</p>
                            </div>
                        </div>
                    </li>
                    <!-- Experience -->
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Experience
                            <br>Highlights</h4>
                         </div>
                     </li>
                     <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>April 2010 - June 2010</h4>
                                <h4 class="subheading">Network Technician - Ecopetrol Contractor</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Independently implemented the physical and logical infrastructure for a network in an office with over 16 nodes.</p>
                            </div>
                        </div>
                    </li>
                <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2018 - 2019</h4>
                                <h4 class="subheading">Salesforce Manager, Community Manager - Nomada C.I.</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Assisted in implementing the POS (Point of Sale) and CMS (Content Management System) at the physical location. Managed the company's social media presence as a Community Manager.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                        </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2009 - March 2023</h4>
                                    <h4 class="subheading">Systems Technical Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Provided technical support to dozens of small organizations and households as an independent contractor. Ensured devices were up-to-date and operating with original licenses or implemented open-source software as per requirements. Performed hardware and software updates, assisted in the implementation of specialized software, and educated users on proper system operation.</p>
                                </div>
                            </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>