<section id="activity">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h3 class="section-heading">Repository Commits</h3>
            <ul id="repoList" class="list-group">
              <!-- Repositories and commits will be added here by JavaScript -->
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h3 class="section-heading">Contributions Overview</h3>
            <p>Total Contributions: <span id="contributionsCount">Loading...</span></p>
            <p>Repositories: <span id="repositoriesCount">Loading...</span></p>
            <p>Stars: <span id="starsCount">Loading...</span></p>
            <p>Forks: <span id="forksCount">Loading...</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
