<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.soyhenry.com/">
                        <img src="img/logos/henry.jpg" class="img-responsive img-centered" alt="Henry Bootcamp LA">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://nodejs.org/">
                        <img src="img/logos/node.jpg" class="img-responsive img-centered" alt="Henry Bootcamp LA">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://react.dev/">
                        <img src="img/logos/react.jpg" class="img-responsive img-centered" alt="Henry Bootcamp LA">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.ruby-lang.org/">
                        <img src="img/logos/ruby.jpg" class="img-responsive img-centered" alt="Henry Bootcamp LA">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.typescriptlang.org/">
                        <img src="img/logos/typescript.jpg" class="img-responsive img-centered" alt="Henry Bootcamp LA">
                    </a>
                </div>
            </div>
        </div>
    </aside>