<!-- Clients Aside -->
<aside class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-5">
                <a href="https://www.soyhenry.com/" target="_blank">
                    <img src="img/logos/henry.png" class="img-responsive img-centered client-logo" alt="">
                </a>
            </div>
            <div class="col-md-2 col-sm-5">
                <a href="https://nodejs.org/" target="_blank">
                    <img src="img/logos/node.png" class="img-responsive img-centered client-logo" alt="">
                </a>
            </div>
            <div class="col-md-2 col-sm-5">
                <a href="https://react.dev/" target="_blank">
                    <img src="img/logos/react.png" class="img-responsive img-centered client-logo" alt="">
                </a>
            </div>
            <div class="col-md-2 col-sm-5">
                <a href="https://www.typescriptlang.org/" target="_blank">
                    <img src="img/logos/typescript.png" class="img-responsive img-centered client-logo" alt="">
                </a>
            </div>
            <div class="col-md-2 col-sm-5">
                <a href="https://developer.mozilla.org" target="_blank">
                    <img src="img/logos/front.png" class="img-responsive img-centered client-logo" alt="">
                </a>
            </div>
                        <div class="col-md-2 col-sm-6">
                <a href="https://www.ruby-lang.org" target="_blank">
                    <img src="img/logos/ruby.png" class="img-responsive img-centered client-logo" alt="">
                </a>
            </div>
        </div>
    </div>
</aside>
