<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5Q8HLX9RJ1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
console.log("Welcome dev...")
  gtag('config', 'G-5Q8HLX9RJ1');
</script>
<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#aboutme">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#skills">Skills</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#career">Significant Milestones</a>
                    </li>
                    <!-- <li>
                        <a class="page-scroll" href="#activity">Activity</a>
                    </li> -->
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <script src="https://kit.fontawesome.com/d35e2cc54d.js" crossorigin="anonymous"></script>
        <div>
            <div class="intro-text">
                <div class="intro-lead-in">Welcome to my Professional Portfolio!</div>
                <!-- <div class="intro-heading">Your Trusted Developer</div> -->
                <div class="download-buttons">
                    <a href="/assets/CV%20David%20Miranda%20EN2024.pdf" download="CV_David_Miranda_EN2024.pdf" class="btn btn-primary">
                        <i class="fas fa-file-pdf"></i> Download my English CV
                    </a>
                    <a href="/assets/CV%20David%20Miranda%20SP2024.pdf" download="CV_David_Miranda_SP2024.pdf" class="btn btn-primary">
                        <i class="fas fa-file-pdf"></i> Descargar mi CV en Español
                    </a>
                </div>

                <!-- <a href="#portfolio" class="page-scroll btn btn-xl">Discover my commitment</a> -->
            </div>
        </div>
    </header>

        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}


